.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: 0.88rem;
    background-color: black;
    box-shadow: 0 4px 2px 2px black;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90px;
        margin-bottom: 2rem;
    }
}