body,
html,
#root {
  height: 100%;
}

html {
  font-size: 10px;
}

h1 {
  padding: 0.77rem 0;
  background-color: turquoise;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.88rem;
  color: aliceblue;
}

h1 .highlight {
  color: blue;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  text-align: center;
  background-image: url("./download.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}